

.movie-day {
  margin-bottom: 20px;
}

.movie-day h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

/* .movies {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
} */

.movie {
  background-color: #1d232a;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 10px;
  display: flex;
}

.movie img {
  width: 120px;
  height: 180px;
  object-fit: cover;
  border-radius: 4px;
  margin-right: 10px;
}

.movie-info {
  flex-grow: 1;
}

.movie-info h3 {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 1.1rem;
  font-weight: bold;
}

.movie-info p {
  margin: 0;
  font-size: 0.9rem;
  color: #667788;
}