table {
  border-collapse: collapse;
  width: 100%;
  align-items: center;
  color: #877392 !important;
}

table td, table th {
  padding: 8px;
  border-bottom: 1px solid #3b3f44;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #111416;
  font-weight: 100;
}

table img {
    max-width: 35px;
    height: auto;
}

#calender {
  position: relative;
}

#movie-row:hover, #movie-title:hover {
    color: #f0582b;
    cursor:pointer;
}

#calender-text {
  position: relative;
  padding: 5px;
  color: #9773ab;
}

#movie-title {
    font-family: TiemposTextWeb-Semibold,Georgia,serif;
    font-size: 1.3rem;
    font-weight: 400;
    color: #fff;
}

.star {
    cursor: pointer;
}