table {
  border-collapse: collapse;
  width: 100%;
  align-items: center;
  color: #877392 !important;
}

table td, table th {
  padding: 8px;
  border-bottom: 1px solid #3b3f44;
}

table td td {
  border-bottom: 0;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #111416;
  font-weight: 100;
}

.calender-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: '100%';
    height: '100%';
}

table img {
    max-width: 35px;
    height: auto;
}

.movie-title {
    font-family: TiemposTextWeb-Semibold,Georgia,serif;
    font-size: 1.3rem;
    font-weight: 400;
    color: #fff;
}

.calender:hover, .day:hover, .movie-title:hover {
    color: #f0582b;
    cursor:pointer;
}

#starRadio {
    display: none;
}

.star {
    cursor: pointer;
}