body {
  font-family: 'Roboto', sans-serif;
  background-color: #1b2127;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#navbarSupportedContent {
  margin-top: 1.1em;
}

.nav-link {
  color: #5c636a !important;
}

.nav-link:hover, .active {
    color: #f0582b !important;
    border-bottom: 1px solid orange;
}